numpy==2.4.0
pandas==2.3.3
torch==2.9.1
openai
transformers==4.57.3
datasets==4.4.2
bert-score==0.3.13
bitsandbytes==0.49.0
playwright
beautifulsoup4
colorama
matplotlib==3.10.8
tensorboard==2.20.0
requests
tqdm>=4.31.1
gradio==6.2.0
huggingface-hub==1.2.3
setuptools==80.9.0
peft @ git+https://github.com/huggingface/peft.git@b4faffea8ae031e5bd69a76b55418b3650c04c80
accelerate==1.12.0
ctranslate2
PyYAML==6.0.3
sentencepiece==0.2.1
tiktoken