absl-py==2.3.1
dm_env==1.6
google-generativeai==0.8.6
grpcio-tools
immutabledict==4.2.2
IPython
jsonschema==4.25.1
matplotlib==3.10.8
numpy==2.4.0
opencv-python
pandas==2.3.3
pydub
pytest
requests
tenacity
termcolor